.formSection {
  margin-bottom: 2rem;
  & > h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(126, 55, 148);
  }
  & > form {
    margin: 0 auto;
    width: 90%;
    display: grid;
    gap: 0.5rem;
  }
  .formSection__group {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  .arzt-select {
    width: 100%;
  }
}

.rezept-success {
  text-align: center;
  color: rgb(5, 189, 5);
  font-size: 2rem;
  font-weight: bold;
  margin: 5em 0;
}

.rezeptForm {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  flex-wrap: wrap;
}
.rezeptForm{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.tab {
  width: 90%;
  max-width: 600px;
}

.radio{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: .5rem !important;
  flex-wrap: wrap;
}