* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  letter-spacing: 1.2px;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.25rem;
}

main {
  background-color: rgb(58, 78, 143);
}

.con-wrap {
  padding: 1.5rem 0;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .con-wrap {
    width: 90%;
  }
  main {
    background-color: #fff;
  }
}